td div.view-gallery-images ul li {
  background: none;
  padding: 0px;
}
div.space_allowed {
  border: 2px solid #000088;
  width: 200px;
  height: 18px;
  overflow: hidden;
}
div.space_used {
  background-color: #ff0000;
  text-align: center;
}
